#study-guide-page {
  float: left;
  min-height: 100%;
}

#study-guide-sidebar {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  border-left: solid #ddd 2px;
  background: #000;
  z-index: 9999999998;
}

#study-guide-sidebar iframe {
  width: 100%;
  height: 100%;
  border: none;
  background: #fff;
}